Package: bash-deb-build
Version: 0.6
Architecture: all
Maintainer: zvezdochiot <zvezdochiot@users.sourceforge.net>
Section: utils
Priority: optional
Depends: dpkg, grep, tar, gzip, coreutils, binutils
Installed-Size: 30
Homepage: https://github.com/BASH-Auto-Tools/bash-deb-build
Description: Bash-script for build deb package.
 Bash-script for build deb package:
  build:
   sudo bash-deb-build
  unpack:
   bash-deb-unpack package.deb
  depends:
   bash-deb-depends-test you-etf-or-lib
